.page {
    display: flex;
    margin-top: 5rem;

    /*margin-top: 4rem;*/
}

.page .col_1 {
    width: 65%;
}

.experience_container {
    padding-right: 2rem;
    border-right: 1px solid #dfdfdf;
}

.page .col_2 {
    padding-left: 2rem;
    width: 35%;
    height: 30vh;
}

.page .col_2 .aboutus .heading {
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--google_sans);
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1rem;
}

.experience_card {
    padding: 1rem 0;
}

.experience_card .top_container {
    display: flex;
}

.experience_card .top_container img {
    width: 3rem;
}

.experience_card .heading_container {
    margin-left: 1rem;
}

.experience_card .card_heading {
    padding: 0.5rem 0;
    font-size: 2.3rem;
    font-weight: 550;
    font-family: var(--google_sans);
    color: #1a73e8;
}

.experience_card .top_container .main_heading {
    font-size: 1.5rem;
    font-family: var(--google_sans);

}

.experience_card .card_content {
    font-size: 1.5rem;
    font-family: var(--google_sans);
}

.experience_card .time_container {
    font-size: 1rem;
    color: #5f6368;
    padding: 1.5rem 0;
}

.about_container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: table;
}

.about_container .row {
    width: max-content;
    display: flex;
    padding: 0.5rem 1px;
    font-size: 1.6rem;
    font-family: var(--google_sans);
    font-weight: 800;
    justify-content: left;
}

.about_container .row .cell_value {
    padding-left: 1rem;
    font-size: 1.3rem;
    color: #5f6368;
    font-weight: 500;
    width: 30rem;
}

.about_container .profile_logos img {
    width: 5rem;
    height: 5rem;

}

.about_container .profile_logos {
    display: flex;
    gap: 2rem;
}

.projects .heading_container .heading,
.research_works .heading_container .heading,
.achievement .heading_container .heading {
    font-size: 3rem;
    font-weight: 500;
    font-family: var(--google_sans);
}

.projects .heading_container .sub_heading,
.research_works .heading_container .sub_heading,
.achievement .heading_container .sub_heading {
    font-size: 1.5rem;
    font-weight: 400;
    color: #5f6368;
    font-family: var(--google_sans);
    padding: 0.4rem 0;
}

.projects .heading_container,
.research_works .heading_container,
.achievement .heading_container {
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 0.7rem;
}

.projects {
    margin-top: 2rem;
}

.project_container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 5rem;
}

.project1 {
    grid-area: 1 / 1 / 3 / 2;
    border-right: 1px solid #dfdfdf;
    padding: 1rem;
}

.project1 img {
    padding: 2rem 0;
}

.project_container .project_heading {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.project_container .project_description {
    font-size: 1.5rem;
}

.project2 {
    margin: 1rem;
    grid-area: 1 / 2 / 2 / 3;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1rem;
}

.project3 {
    padding: 1rem;
    grid-area: 2 / 2 / 3 / 3;
}

.more {
    position: relative;
}

.more .more_line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #dfdfdf;
    padding-bottom: 1rem;
    margin-bottom: 6rem;
}

.more .more_button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    width: 277px;
    height: 4rem;
    border-radius: 2rem;
    background: #D9D9D9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-family: var(--google_sans);
}

.research_works {
    margin-top: 2rem;
}

.research_works .card_content {
    display: flex;
}

.research_works .card_right {
    padding: 0 5rem;
}

.achievement {
    margin-top: 4rem;
}

.achievement .achievement_container .achievement_images {
    padding: 2rem 0;
    display: flex;
    gap: 2rem;
}

.achievement .achievement_container .achievement_heading {
    font-size: 2rem;
    font-weight: 500;
}

.achievement .achievement_container .achievement_description {
    padding: 2rem 2rem 1rem 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.achievement_sub_heading {
    font-size: 1rem;
}