.top_header {
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--lines);
}

.top_header .max_width {
    background: var(--main_bg);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    top: 0;
    align-items: center;
    padding: 0 5rem;
    padding-top: 2.3rem;

}

.top_header .front_container {
    display: flex;
    gap: 2rem;
}

.top_header .google_logo {
    width: 10rem;
}


.top_header .google_logo img {
    width: 100%;
    height: 100%;
}

.top_header .search_box input {
    width: 65rem;
    min-height: 44px;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgba(64, 60, 67, .16);
    border-radius: 24px;
    margin-left: 2rem;
    padding: 1rem 3rem;
    font-size: 16px;
    font-family: var(--open_sans);
    background: var(--input_bar);
    color: var(--input_text);
    font-weight: 400;
}

.top_header .setting_icon {
    cursor: pointer;
    width: 24px;
    margin: 0 1rem;
}

.top_header .user_icon {
    cursor: pointer;
    width: 35px;
    margin: 0 1rem;
}

.top_header .setting_icon svg {
    width: 100%;
    height: 100%;

}

.top_header .connect_bar {
    display: flex;
    margin-top: 10rem;
    padding-left: 20rem;
    gap: 3rem;
    align-items: center;
}

.top_header .connect_nav figure {
    width: 18px;
    display: flex;
    align-items: end;
}

.top_header .connect_nav {
    position: relative;
    display: inline-flex;
    gap: 0.5rem;
    font-family: var(--google_sans);
    font-size: 1.6rem;
    align-items: center;
    color: #5f6368;
}

.top_header .connect_nav_active {
    color: #1a73e8;
}

.connect_nav_active:after {
    content: " ";
    position: absolute;
    bottom: -18px;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4px;
    background: #1a73e8;
}

.setting_icon {
    position: relative;
}

.setting_box {
    position: absolute;
    left: 50%;
    margin-top: 2rem;
    transform: translate(-50%, 0);
    width: 12rem;
    padding: 2rem 1rem;
    background: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 1rem;
    border: 1px solid #5f6368;
    transition: all 1s ease-in;
}

.button_container {
    padding: 0.4rem;
    background: #454B4C;
    border-radius: 10rem;
    height: 3.4rem;
    position: relative;
}

.button_container span {
    font-family: var(--google_sans);
    color: #ffff;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translate(-0%, -50%);
}

.dark_enabled .button_container span {
    left: 10%;

}

.button_container .button_ball {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    background: #fff;
    border-radius: 2rem;
    transition: all 1s ease-in;
    padding: 0.2rem;
    float: left;

}

.dark_enabled .button_ball {
    float: right;
}

.dark_enabled .button_container {
    background: #8AB4F8;
}