:root {
    --google_sans: "Product Sans Regular", sans-serif;
    --arial: "Arial Regular" sans-serif;
}

.light_theme {
    --name_heading: #202124;
    --subname_heading: #4d5156;
    --search_username: rgba(0, 0, 0, .87)
}

.flex {
    display: flex;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inherit {
    width: 100%;
    height: 100%;
}


body {
}